.message {
  padding: 0.2em 0.2em 0em;
  margin-bottom: 20px;
  background: white;
  height: 130px;
  display: flex;
  flex-direction: column;

  &__user {
    align-self: flex-start;
    display: flex;
    align-items: center;
  }

  &__content {
    align-self: center;
  }
}
